[submodule "Tela-icon-theme"]
	path = Tela-icon-theme
	url = https://github.com/vinceliuice/Tela-icon-theme.git
[submodule "Graphite-gtk-theme"]
	path = Graphite-gtk-theme
	url = https://github.com/vinceliuice/Graphite-gtk-theme.git
[submodule "nvim-perf"]
	path = nvim-perf
	url = https://github.com/adrsha/nvim-perf
