* {
    border: none;
    box-shadow: none;
}


.mainBar {
    background: transparent;
}

.systrayWidget>button {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.workspaceContainerContainer,
.volumeWidgetContainerContainer {
    background: transparent;
}


.volumeWidgetContainer {
    margin: 5px;
    padding-right: 10px;
    background: #141B1E;
    font-size: 16px;
    border-radius: 10px;
}

.volumeWidget {
    min-width: 100px;
    padding-left: 10px;
}

.musicWidgetContainer{
    margin: 5px;
    background: #141B1E;
    font-size: 16px;
    border-radius: 10px;
    padding-right: 10px;
}
.musicWidget{
    padding-left: 10px;
}

slider {
    /* background-size: 10px 20px; */
    /* min-width: 15px; */
    /* min-height: 23px; */
    background: transparent;
    border-radius: 0 20px 20px 0;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -16px;
    margin-bottom: -16px;
}

highlight {
    border-radius: 50px 50px 50px 50px;
    margin-top: -13px;
    margin-bottom: -13px;
    background: #0A0E0F;
}

trough {
    min-height: 6px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 10px;
    background: transparent;
}

.hyprlandClients {
    margin-left: 10px;
    margin-right: 10px;
    background: #141B1E;
    border-radius: 10px;
}
.active-client{
    background: #141B1E;
    padding: 0px;
    padding-right: 10px;
}

.active-client .client-icon {
    background: #8CCF7E;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}

.inactive-client {
    background: #141B1E;
    padding: 5px;
}

.active-client,
.inactive-client{
    margin: 5px;
    margin-top: 0px;
    border-radius: 10px;
    transition: background 0.2s;
    font-family: "JetBrainsMono Nerd Font";
}
.active-client:hover,
.inactive-client:hover {
    background: #232A2D;
}


.musicWidgetIcon,
.volumeWidgetIcon,
.batteryWidgetIcon,
.dateWidgetIcon,
.bluetoothWidgetIcon,
.networkIcon {
    background: #8CCF7E;
    color: #0A0E0F;
    padding: 10px;
    border-radius: 10px;
}


.workspaceContainer {
    padding-left: 10px;
}

.bluetoothWidgetContainer,
.players,
.networkWidget,
.focusedTitle,
.workspaceContainer,
.batteryWidget,
.dateWidget {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    font-size: 15px;
    padding-right: 10px;
    background: #141B1E;
    border-radius: 10px;
    margin: 5px;
    transition: 0.5s ease;
}


.lowBattery {
    color: #E57474;
}

.batteryChargeIndicator {
    font-size: 20px;
    color: #8CCF7E;
    padding: 0px;
}

.workspace {
    background: #141B1E;
    font-size: 10px;
    margin: 0;
    padding: 5px;
}

.workspace>label {
    color: #232A2D;
}

.activeWorkspace>label {
    color: #dadada;
}

.activeWorkspace {
    animation: blink 1s alternate;
}

.appLauncher {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 900;
    font-size: 16px;
}

.appLauncherItemContainer {
    padding: 0px;
    border-radius: 10px;
    background: #141B1E;
    color: #dadada;
    font-size: 18px;
    font-weight: 600;
}
.appLauncherItemContainer:first-child{
    font-weight: 900;
}


.appLauncherItemContainer:focus {
    background: #8CCF7E;
    color: #0A0E0F;
    padding: 10px;
    padding-right: 0px;
    font-weight: 900;
}
.appLauncherItemContainer:focus .appLauncherItemIcon {
    margin-right: 2px;
    background: #4C6F5E;
}

.appLauncherItemIcon {
    padding: 10px;
    border-radius: 10px;
    background: #141B1E;
    margin-right: 10px;
    border-right: 5px solid #8CCF7E;
    box-shadow: 8px 0px 0px rgba(140, 207, 126, 0.2);
}

.appLauncherContainer {
    border-radius: 0 10px 10px 0;
    background: #0A0E0F;
}

.appLauncherSearchContainer {
    padding-top: 20px;
    padding-left: 40px;
}
.appLauncherSearchIcon {
    border-radius: 10px;
    padding: 10px;
    background: #8CCF7E;
    color: #0A0E0F;
}
.appLauncherSearch {
    border-radius: 10px;
    padding-left: 20px;
    background: #0A0E0F;
}

.notification-popups,
.notifications {
    padding: 0.5em;
    background: transparent;
}

.notificon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.notificon image {
    font-size: 58px;
    margin: 5px;
    color: #dadada;
}

.notificon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notiftitle {
    color: #dadada;
    font-size: 1.4em;
    font-weight: bold;
}

.notifbody {
    color: #9a9a9a;
}

.notifactions .notifaction-button {
    margin: 0 .4em;
    margin-top: .8em;
    padding: 10px;
    background: #141B1E;
    color: #dadada;
}

.notifactions .notifaction-button:first-child {
    margin-left: 0;
}

.notifactions .notifaction-button:last-child {
    margin-right: 0;
}


.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    background: #0C1012;
}

.notification.critical {
    border: 1px solid lightcoral;
}




@keyframes blink {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}
